<!DOCTYPE html>
<html>
      <head>
         <meta charset="UTF-8">
         <title>{% block title %}Activation du compte{% endblock %}</title>
         {% block stylesheets %}{% endblock %}
      </head>
      <body>
         {% block body %}{% endblock %}
         Votre compte est activé.
         Merci d’avoir confirmé votre email.
         {% block javascripts %}{% endblock %}
      </body>
</html>