<h3>
   Bonjour {{ user.getUsername() }}, <br/> 
   Merci de vous être inscrit à cuisine SG ! <br/>
</h3>

<p>
   <a href="{{ url("default_confirm_token", {"token": user.getConfirmationToken()}) }}">Confirmez votre adresse email en cliquant sur ce lien</a>
   ou copiez ce code à l'intérieur du formulaire : <b>{{ user.getConfirmationToken() }} </b>
</p>