<h3>
   Hello {{ users.getUsername() }}, please confirm you e-mail address,
</h3>

<p>
   Please confirm you e-mail address by clicking <a href="{{ url("default_confirm_token", {"token": users.getConfirmationToken()}) }}">this</a> link.
</p>